@model List<BooksViewModel>

<div class="row">
    @foreach (var obj in Model)
            {
             <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@obj.Title</h5>
                    <h4>@obj.Price</h4>
                    <h6>@obj.AuthorName</h6>
                    <a href="#" class="btn btn-primary">See Details</a>
                </div>
            </div>
             </div>
            }
</div>